/*---------------------------------CSS for all pages---------------------------------------------------*/

@font-face {
    font-family: 'Montserrat';
    src: url(https://fonts.google.com/specimen/Montserrat);
    }

:root{
    --box-colour: #F0F0F0; /*colour of the containers for info to go in*/
    --main-font: Montserrat; /*main font used for text*/
    --main-font-colour: #1D1D1F; 
    --heading-colour: #196f72; 
    --regular-text-size: larger;    /*the size for content text in a paragraph */
    --shadow-1: 0.3rem 0.3rem 0.625rem rgba(0,0,0,0.2); /*trial and error to find these rem values*/;
    --gap-between: 5rem;
    --gap-within: 3rem;
    --the-background-color: #FAFAFA;
}
body > main,header{
    font-family: var(--main-font);
    margin: 0px;
    color: var(--main-font-colour);
    margin-left: 10rem;
    margin-right: 10rem;
}
body{
    margin-bottom: 0; /*so the footer doesn't have a gap underneath*/
    margin-left: 0; /*so the footer doesn't have a gap to the left*/
    margin-right: 0; /*so the footer doesn't have a gap to the right*/
    background-color: var(--the-background-color); /*background is an off-white for a subtle contrast with the containers without being too harsh*/
}

.menu-background{
    background-color: rgba(255, 255, 255, 0.6); /* full white, with 0.6 opacity*/
    backdrop-filter: blur(15px); /*add a blur effect so when words go behind the layer, they don't interfere with the nav bar*/
    top:0; /*so there is no gap above the navigation menu*/
    padding:20px; /*layer of padding around the nav menu*/
    position: fixed; /*allows the menu background to stay at top of page regardless of scrolling*/
    width: 100%; /*background stretches across whole page*/
}
/*So the navigation list is at the top of the page, and stays in place when scrolling*/
.nav-list{
    position: fixed;
    display: flex;
    justify-content:center;
    list-style-type: none; /*so list doesn't have bullets*/
    gap: 50px;
    flex-grow: 1;
    font-size: small;
    white-space: nowrap; /* so text doesn't go to new line when browser size changes*/
    overflow: hidden;
    top:0;
    width:100vw; /*so it is the full viewport width*/
    padding-left: 0;
    font-family: var(--main-font);
}
/* nav menu text is now black, and has an underline when hovered over by mouse (using hover pseudoclass)*/
.nav-list a{
    text-decoration: none; 
    color: var(--main-font-colour);
}
.nav-list a:hover{
    text-decoration:underline; /* when hovering over the links on the nav, an underline will appear*/
}
.active{
    font-weight: bold;
}
@media (max-width: 640px) { /* responsiveness for viewing on mobile*/
    nav .menu-background { flex-wrap: wrap; }
    nav ul { width: 100%; justify-content: center; }
}

/*footer section taken from starter.css*/
footer {
    margin-top: 40px; /* Space above footer */
    padding: 22px 0; /* Vertical spacing */
    background: var(--box-colour); 
}
footer p {
    color: var(--main-font-colour); 
    font-family: var(--main-font);
    text-align: center;
}
footer .footer-container {
    width: min(100% - 2*var(--spacing), var(--maxw)); /* Responsive width */
    margin: 0 auto; /* Centered container */
    display: flex; /* Flex layout */
    justify-content: space-between; /* Space between items */
    gap: var(--spacing); /* Gap between items */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

/*-------------------------------CSS for index page-----------------------------------------------------*/
.index-header{
    border-bottom-left-radius: 1rem; /* bottom left corner is rounded*/
    border-bottom-right-radius: 1rem; /* bottom left corner is rounded*/
    background-color: var(--box-colour); /* container for header section is slightly off white */
    box-shadow: var(--shadow-1);
    margin-bottom: var(--gap-between);
}
.index-header h1{
    color: var(--heading-colour); 
    padding-top: 1.25rem;
    text-align: center;
    margin-bottom: 0;
}

.index-header img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5rem;
    padding-top: 0;
    width:15rem;
}

.index-main-content h2{
    text-align: center;
    color: var(--heading-colour);
}

.index-main-content {
    display: grid; /*create a grid */
    grid-template-columns: 0.5fr 0.5fr; /*grid is 2 columns, both 0.5 fractional units wide*/
    grid-template-rows: 1fr 1fr; /*grid is 1 row, 1 fractional unit wide*/
    border-radius: 1rem; /*rounded corners for the container*/
    column-gap: var(--gap-within); /* gap between columns in the grid */
    row-gap: var(--gap-between); /* gap between rows in the grid */
    margin-top: 1.25rem; /*creates a margin at the top */
    margin-bottom: 1.25rem; /*creates a margin at the bottom */
}
.index-main-content > *{
    background-color: var(--box-colour);
    padding: 1.5rem; 
    margin:0;
    border-radius: 1rem;
    box-shadow: var(--shadow-1);
}

.index-main-content ul, ol {
    list-style-type:disc; /*so list doesn't have bullets*/
    font-size: var(--regular-text-size);
}

.index-main-content li{
    margin-bottom: 2rem;
}

.index-main-content .index-section-3{
    grid-column: span 2;
    background: none;
    box-shadow: none;
    padding: 0;
    height:25rem;
}
.index-main-content .index-section-3 img{
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    box-shadow: var(--shadow-1);
    object-fit: cover; /*so it doesn't strecth and distort*/
    object-position: bottom center; /*part of the image we see*/
}

/*-----------------------------------CSS for about page-------------------------------------------------*/
/*format the header container*/
.about-header{
    background-color: var(--box-colour);
    margin-top: 2.5rem;
    padding: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: var(--shadow-1);
}
/*format the heading*/
.about-header h1{
    color:var(--heading-colour);
    text-align: center;
    margin-bottom: 0;
}

/*the placement overview title*/
.about-main-content h2{
    color:var(--heading-colour);
    text-align: center;
    padding: 1.25rem;
    grid-column: span 4;
}

/*position the banner box*/
.about-header .banner-graphic-box{
    display: flex;
    padding:0;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    min-height: 48rem;
    border-radius: 5rem;
    margin-bottom: var(--gap-between);
}
/*format the banner image*/
.about-header .banner-graphic-box img{
    border-radius: 5rem;
    height:auto;
    width:auto;
    max-width: 80%;
    max-height: 80%;
    box-shadow: var(--shadow-1);
}

.about-main-content .main-text{
    display: grid;
    grid-template-columns: repeat(4,1fr); /*4 coloumns*/
    grid-template-rows: 0.5fr 1fr; /* 2 row*/
    text-align: left;
    font-size: var(--regular-text-size);
    gap: 1.25rem;
}

/*applies the boxes to all tags in the main-text class*/
.about-main-content .main-text > *{
    background-color: var(--box-colour);
    padding: 1.5rem;
    margin:0;
    border-radius: 1rem;
    box-shadow: var(--shadow-1);
    margin-bottom: var(--gap-between);
    text-align: center;
}
.about-main-content .main-text a{
    color: var(--main-font-colour);
    text-decoration:underline;
}
.about-main-content .main-text a:hover{
    font-weight: bold;
}

.about-main-content .main-text .main-text-1 {
    grid-column: span 2;
    margin-bottom: 0;
}

.about-main-content .main-text .main-text-2 {
    grid-column: span 2;
    margin-bottom: 0;
}
.about-main-content .main-text .main-text-3 {
    grid-column: span 4;
}

.about-main-content .placement-overview-section{
    display: grid;
    grid-template-columns: repeat(4,1fr); /*4 coloumns*/
    grid-template-rows: 1fr; /* 1 row*/
    margin:0;
    border-radius: 1rem;
    gap: 1rem;
    margin-top: 1.25rem;
    margin-bottom: var(--gap-between);
}
.about-main-content .placement-overview-section > * {
    background-color: var(--box-colour);
    margin:0;
    border-radius: 1rem;
    text-align: center;
    text-overflow: wrap;
    box-shadow: var(--shadow-1);
    padding: 1.5rem;
}
.about-main-content .placement-overview-section p {
    font-size: var(--regular-text-size);
}
.about-main-content .about-section-3{
    display: grid;
    grid-template-columns: repeat(4,1fr); /*4 coloumns*/
    grid-template-rows: 1fr; /* 1 row*/
    text-align: left;
    gap: var(--gap-within);
}

.about-main-content .about-section-3 > *{
    background-color: var(--box-colour);
    border-radius: 1rem;
    text-align: center;
    text-overflow: wrap;
    box-shadow: var(--shadow-1);
    grid-column: span 2;
    padding: 1.5rem;
}
.about-main-content .about-section-3 h2{
    padding-bottom: 0;
    padding-top: 0;
    margin-top:0;
}
.about-main-content .about-section-3 p{
    font-size: var(--regular-text-size);
}
.about-main-content .about-section-3 img{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-1);
}   

/*-----------------------------------CSS for teaching page-------------------------------------------------*/
.teaching-header{
    background-color: var(--box-colour);
    margin-top: 2.5rem;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: var(--gap-between);
    padding-bottom: 1rem;
    box-shadow: var(--shadow-1);
}

.teaching-header h1{
    color:var(--heading-colour);
    text-align: center;
    margin-bottom: 0;
}

.teaching-section-1{
    display: grid; /*create a grid */
    grid-template-columns: 0.5fr 0.5fr; /*grid is 2 columns, both 0.5 fractional units wide*/
    grid-template-rows: 0.5fr 0.5fr; /*grid is 2 rows, 0.5 fractional units wide*/
    border-radius: 1rem; /*rounded corners for the container*/
    column-gap: var(--gap-within); /* gap between columns in the grid */
    row-gap: var(--gap-between); /* gap between rows in the grid */
    margin-top: 1.25rem; /*creates a margin at the top */
    margin-bottom: 1.25rem; /*creates a margin at the bottom */
}
.teaching-section-1 p{
    font-size: var(--regular-text-size);
    margin-top: 0;
    padding-top: 1rem;
}
.teaching-section-1 h2 {
    color: var(--heading-colour);
    margin-bottom: 0;
}
.teaching-section-1 .teaching-philosophy{
    background-color: var(--box-colour);
    text-align: center;
    border-radius: 1.5rem;
    padding:1.5rem;
    box-shadow: var(--shadow-1);
}
.teaching-section-1 .teaching-philosophy img{
    width:80%;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-1);
}
.teaching-section-1 .teaching-core-values{
    background-color: var(--box-colour);
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-1);
    padding: 1.5rem;
}

.teaching-section-1 .teaching-core-values dl{
    font-size: var(--regular-text-size);
}
/* lets the value stand out*/
.teaching-section-1 .teaching-core-values dt{
    font-weight: bold;
}
/* so there is a gap between the value and the description*/
.teaching-section-1 .teaching-core-values dd{ 
    padding: 1rem; 
}
.teaching-section-1 .behavioural-management{
    grid-column: span 2;
    background-color: var(--box-colour);
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-1);
    padding: 1.5rem;
}
/*----------------------------------CSS for resume page--------------------------------------------------*/
.resume-header{
    margin-top: 2.5rem;
    text-align: center;
}
/*format the heading*/
.resume-header h1{
    background-color: var(--box-colour);
    color:var(--heading-colour);
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    box-shadow: var(--shadow-1);
}   
.resume-header p{
    display: inline-block;
    background-color: var(--box-colour);
    text-align: left;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-1);
    margin-bottom: var(--gap-within);
    font-size: var(--regular-text-size);
}  
.resume-header a{
    color:#1D1D1F;
}
.resume-header a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.resume-container{
    background-color: var(--box-colour);
    border-radius:1rem;
    box-shadow: var(--shadow-1);
}
.resume-section-1 .resume-container img{
    display:block;
    border-radius: 1.5rem;
    width: 100%;
    height: auto;
}   

/*-------------------------------------- CSS for contacts page----------------------------------------------*/

.contact-header{
    background-color: var(--box-colour);
    margin-top: 2.5rem;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--shadow-1);
    margin-bottom: var(--gap-between);
}
.contact-header h1{
    color:var(--heading-colour);
    text-align: center;
    margin-bottom: 0;
}
.contacts-section-1 .contact-general-message{
    grid-column: span 3;
    grid-row: span 2;
    background-color: var(--box-colour);
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-1);
    place-content: center;
}
.contacts-section-1{
    display: grid; /*create a grid */
    grid-template-columns: 0.3333fr 0.3333fr 0.3333fr; /*grid is 3 columns, all 0.33 fractional units wide*/
    grid-template-rows: 0.3333fr 0.3333fr 0.3333fr; /*grid is 3 rows, 0.33 fractional unit wide*/
    border-radius: 1rem; /*rounded corners for the container*/
    column-gap: var(--gap-within); /* gap between columns in the grid */
    row-gap: var(--gap-within); /* gap between rows in the grid. Used 'gap-within' here as they are related elements, and wanted them to appear so */
    margin-top: 1.25rem; /*creates a margin at the top */
    margin-bottom: 1.25rem; /*creates a margin at the bottom */  
}
.contacts-section-1 p{
    font-size:var(--regular-text-size);
    padding: 1.5rem;
}
.contacts-section-1 .contact-form{
    grid-column: span 2;
    background-color: var(--box-colour);
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-1);
}

.contacts-section-1 .contact-form h2 {
    color: var(--heading-colour);
}
.contacts-section-1 .contact-container-socials h2 {
    color: var(--heading-colour);
}
label{
    display: block;
    padding: 0.5rem;
}

input[type=text], select{
    width:90%;
    background-color: var(--the-background-color);   
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-family: var(--main-font);
    box-shadow: var(--shadow-1);
}
input[type=email]{
    width:90%;
    background-color: var(--the-background-color);   
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-family: var(--main-font);
    box-shadow: var(--shadow-1);
}


input[type=text]:hover, input[type=email]:hover, textarea:hover{
    background-color: #f0f8ff;
    outline: none; /* so there is no outline when a contact field is clicked*/
}

textarea {
    width:90%;
    height:10rem;
    background-color: var(--the-background-color);   
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    resize:none;
    font-family: var(--main-font);
    box-shadow: var(--shadow-1);
}
button{
    display:block;
    margin:1rem auto; /* 1rem sets the top and bottom margin to 1, the auto automatically caluclates equal left and right margins*/
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-1);
    background-color: var(--the-background-color);
    font-family: var(--main-font);
    border: none;
}
button:hover{
    background-color: #f0f8ff;
}
fieldset{
    border: none;
}

.contacts-section-1 .contact-container-socials{
    grid-column: span 1;
    background-color: var(--box-colour);
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-1);
}
.contacts-section-1 .contact-container-socials img{
    width:30%;
}
/*------------------------------------CSS for projects page------------------------------------------------*/

.projects-header h1{
    color: rgb(255,140,60); 
    padding: 20px;
}
/*Section for showing projects or units that have I have taught using flexbox*/
.project-card-flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 20px;
}
.project-card{
    flex: 1 1 150px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: var(--shadow-1);
}
.project-card img{
    width: 100%;
    height:auto;
    border-radius: 4px;
}
.project-card h3{
    margin-top: 10px;
    font-size: 1.1rem;
    color:#2c3e50;
}
        
