/*---------------------------------CSS for all pages---------------------------------------------------*/

@font-face {
    font-family: 'Montserrat';
    src: url(https://fonts.google.com/specimen/Montserrat);
    }


:root{
    --box-colour: #F0F0F0; /*colour of the containers for info to go in*/
    --main-font: Montserrat; /*main font used for text*/
    --main-font-colour: #1D1D1F; 
    --heading-colour: #196f72; 
    --regular-text-size: larger;    /*the size for content text in a paragraph */
    --shadow-1: 0.3rem 0.3rem 0.625rem rgba(0,0,0,0.2); /*trial and error to find these rem values*/;
    --gap-between: 5rem; /*the gap between different sections so users know it is seperate to other sections*/
    --gap-within: 3rem; /*gap within sections to make the content more comfortable for users. Page is more scannable*/
    --the-background-color: #FAFAFA; /*background colour is a off-white to reduce eye strain, make the pages feel more inviting, and contrast well with the containers*/
    --hover-scale-factor: scale(1.02); /* makes the size of the element 2% bigger when the cursor is hovering over it*/
}
body > main,header{
    font-family: var(--main-font); /*ensures all text is the main font*/
    margin: 0px; /*removes margins in the header and body*/
    color: var(--main-font-colour);
    margin-left: 10rem; /*ensures there is a margin on left side of every page*/
    margin-right: 10rem; /*ensures there is a margin on right side of every page*/
}
body{
    margin-bottom: 0; /*so the footer doesn't have a gap underneath*/
    margin-left: 0; /*so the footer doesn't have a gap to the left*/
    margin-right: 0; /*so the footer doesn't have a gap to the right*/
    background-color: var(--the-background-color); /*background is an off-white for a subtle contrast with the containers without being too harsh*/
}
body h1,h2,h3,h4,h5,h6 {
    color: var(--heading-colour); /*all headings will have the same colour*/
}
.menu-background{
    background-color: rgba(255, 255, 255, 0.6); /* full white, with 0.6 opacity*/
    backdrop-filter: blur(15px); /*add a blur effect so when words go behind the layer, they don't interfere with the nav bar*/
    top:0; /*so there is no gap above the navigation menu*/
    padding:20px; /*layer of padding around the nav menu*/
    position: fixed; /*allows the menu background to stay at top of page regardless of scrolling*/
    width: 100%; /*background stretches across whole page*/
}

.nav-list{
    position: fixed; /*So the navigation list is at the top of the page, and stays in place when scrolling*/
    display: flex; /*so it goes across the page*/
    justify-content:center;
    list-style-type: none; /*so list doesn't have bullets*/
    gap: 3.125rem; /*used online converter from 50 px to have gap be relative*/
    flex-grow: 1; /*space between heading links is evenly distributed*/
    font-size: small; /*makes the font smaller*/
    white-space: nowrap; /* so text doesn't go to new line when browser size changes*/
    overflow: hidden; /*cuts off any parts that overflow in navigation list*/
    top:0; /* nav-list is at the top of the cointainer*/
    width:100vw; /*so it is the full viewport width*/
    padding-left: 0; /*no padding on the left side of the nav-list*/
    font-family: var(--main-font); /*uses the main font for the nav-list*/
}
/* nav menu text is now black, and has an underline when hovered over by mouse (using hover pseudoclass)*/
.nav-list a{
    text-decoration: none; 
    color: var(--main-font-colour);
}
.nav-list a:hover{
    text-decoration:underline; /* when hovering over the links on the nav, an underline will appear*/
}
.active{ /*the page currently on will be bold in the nav bar */
    font-weight: bold; 
}
/*footer section taken from starter.css*/
footer {
    margin-top: 40px; /* Space above footer */
    padding: 22px 0; /* Vertical spacing */
    background: var(--box-colour); 
}
footer p {
    color: var(--main-font-colour); /*main body font colour*/
    font-family: var(--main-font); /*uses main font from root*/
    text-align: center; /*puts footer text in center*/
}
footer .footer-container {
    margin: 0 auto; /*top and bottom margins are 0, left and right margins are divided equally to both sides*/
    display: flex; /* Flex layout */
    justify-content: space-between; /* Space between items */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}
@media (max-width: 640px) { /* for mobile viewing*/
    .menu-background {
        display: flex; /*display layout is a flexbox*/
        flex-wrap: wrap;  /*content is set to wrap around if required */
        justify-content: center; /*content is centered in its container*/
    }
    .nav-list { 
        width: 100%; /*nav-list takes up full space of the container*/
    }
    /*small test case of responsive design on mobile*/
    .index-main-content{
        display: block;
    }
    body > main,header{
        margin-left: 1rem; /*margin on left of page is 1rem (mobile)*/
        margin-right: 1rem; /*margin on right of page is 1rem (mobile)*/
    }
}

/*-------------------------------CSS for index page-----------------------------------------------------*/
.index-header{
    border-bottom-left-radius: 1rem; /* bottom left corner is rounded*/
    border-bottom-right-radius: 1rem; /* bottom left corner is rounded*/
    background-color: var(--box-colour); /* container for header section is slightly off white */
    box-shadow: var(--shadow-1); /*will have a shadow around the header box*/
    margin-bottom: var(--gap-between); /*ensures there is a gap between the header and the container below*/
    margin-top: 2.5rem; /*creates a margin at the top so the heading doesn't overlap with the nav bar*/
}
.index-header h1{
    text-align: center; /*aligns heading in the centre of about page*/
}
.index-header img{
    display:block; /*image set as a block to force new line before and after image*/
    margin-left: auto; /*left-side margin is automatically calculated*/
    margin-right: auto; /*right-side margin is automatically calculated*/
    padding-bottom: 0.5rem; /*bottom of the img has padding*/
    padding-top: 0; /*no padding on the top of the image*/
    width:15rem; /*width of image is hard-coded to 15rem*/
}
.index-main-content h2{
    text-align: center; /*any h2 element is centered*/

}
.index-main-content {
    display: grid; /*create a grid */
    grid-template-columns: 0.5fr 0.5fr; /*grid is 2 columns, both 0.5 fractional units wide*/
    grid-template-rows: 1fr 1fr; /*grid is 1 row, 1 fractional unit wide*/
    border-radius: 1rem; /*rounded corners for the container*/
    column-gap: var(--gap-within); /* gap between columns in the grid */
    row-gap: var(--gap-between); /* gap between rows in the grid */
    margin-top: 1.25rem; /*creates a margin at the top */
    margin-bottom: 1.25rem; /*creates a margin at the bottom */
}
.index-main-content > *{
    background-color: var(--box-colour); /*all content containers are set to box-colour from the root*/
    padding: 1.5rem; /*padding around the content elements set to 1.5rem*/
    margin:0; /*margin of content containers are 0*/
    border-radius: 1rem; /*the containers have rounded corners, with radius of 1rem*/
    box-shadow: var(--shadow-1); /*creates a shadow behind the content containers*/
}

.index-main-content ul, ol {
    list-style-type:disc; /*so list doesn't have bullets*/
    font-size: var(--regular-text-size); /*lists are set to the regular text size from the root*/
}
.index-main-content li{
    margin-bottom: 2rem; /*list elements have a bottom margin of 2rem*/
}

.index-main-content .index-section-3{
    grid-column: span 2; /*content spans across 2 columns in the grid*/
    background: none; /*no background box in the section*/
    padding: 0; /*content takes up the whole container*/
    height:25rem; /*height of the container is set to a max of 25rem*/
}
/*this image was generated from canva magic media*/
.index-main-content .index-section-3 img{ 
    width: 100%; /*image takes up width of the whole container*/
    height: 100%; /*image takes up height of the whole container*/
    border-radius: 1.25rem; /*rounded corners of 1.25rem*/
    box-shadow: var(--shadow-1); /*creates shadow behind the image*/
    object-fit: cover; /*so it doesn't strecth and distort*/
    object-position: bottom center; /*part of the image we see*/
}
/*-----------------------------------CSS for about page-------------------------------------------------*/
/*format the header container*/
.about-header{
    background-color: var(--box-colour); /*all content containers are set to box-colour from the root*/
    margin-top: 2.5rem; /*top margin of about container is 2.5*/
    padding: 0; /*padding around the content elements set to 0*/
    border-bottom-left-radius: 1rem; /*rounded corners of 1rem*/
    border-bottom-right-radius: 1rem; /*rounded corners of 1rem*/
    box-shadow: var(--shadow-1); /*creates a shadow behind the content containers*/
}
/*format the heading*/
.about-header h1{
    text-align: center; /*heading is middle of header container*/
    margin-bottom: 0; /*no margin after the heading*/
}

/*the placement overview title*/
.about-main-content h2{
    text-align: center; /*text placed in center of container*/
    padding: 1.25rem; /*padding all around the heading set to 1.25rem*/
    grid-column: span 4; /*placement overview heading container spans across the entire grid*/
}

/*position the banner box*/
.about-header .banner-graphic-box{
    display: flex; /*banner is a flexbox*/
    padding:0;  /*padding around the content elements set to 0*/
    margin-bottom: 1rem; /*bottom margin set to 1rem*/
    justify-content: center; /*content placed in center of container horizontally*/
    align-items: center; /*content placed in center of container vertically*/
    min-height: 48rem; /*minimum height of the banner box is 48rem to account for the image*/
    border-radius: 5rem; /*rounded corners of 5rem*/
    margin-bottom: var(--gap-between); /*margin below banner box is set to gap-between to give nice spacing between it and the content below*/
}
/*format the banner image*/
.about-header .banner-graphic-box img{
    border-radius: 5rem; /*rounded corners of 5rem for the image to match the container */
    height:auto; /*height is automatically set*/
    width:auto; /*width is automatically set*/
    max-width: 80%; /*width can be a max of 80% of the container*/
    max-height: 80%; /*height can be a max of 80% of original image size*/
    box-shadow: var(--shadow-1); /*shadow of the image has a shadow*/
}

.about-main-content .main-text{
    display: grid; /*make the main content as a grid*/
    grid-template-columns: repeat(4,1fr); /*4 coloumns*/
    grid-template-rows: 0.5fr 1fr; /* 2 row*/
    text-align: left; /*text in main content starts on left side of container*/
    font-size: var(--regular-text-size); /*font size set to regular font size from root*/
    gap: 1.25rem; /*gap between grid elements is 1.25rem*/
}

/*applies the boxes to all tags in the main-text class*/
.about-main-content .main-text > *{
    background-color: var(--box-colour); /*all content containers are set to box-colour from the root*/
    padding: 1.5rem; /*padding around the content elements set to 1.5rem*/
    margin:0; /*margin set to 0*/
    border-radius: 1rem; /*rounded corners of 1rem*/
    box-shadow: var(--shadow-1); /*shadow of the image has a shadow*/
    margin-bottom: var(--gap-between); /*margin below all main text is set to gap-between to give nice spacing between it and the content below*/
    text-align: center; /*text is centered in all containers*/
}
.about-main-content .main-text a{
    display:inline-block; /*links are set as inline-blocks in order to not have line breaks before/after the link*/
    color: var(--main-font-colour); /*colour of the link is same as the rest of the text*/
    text-decoration:underline; /*links are underlined*/
}
.about-main-content .main-text a:hover{
    font-weight: bold; /*when mouse is hovering over a link, it changes the font to bold to provide the user with feedback that its clickable*/
    transform: var(--hover-scale-factor); /*when mouse is hovering over a link, it changes the size to be bigger to provide the user with feedback that its clickable*/
}

.about-main-content .main-text .main-text-1 {
    grid-column: span 2; /*main-text-1 goes across 2 columns*/
    margin-bottom: 0; /*no margin under the first part of the text*/
}

.about-main-content .main-text .main-text-2 {
    grid-column: span 2; /*main-text-2 goes across 2 columns*/
    margin-bottom: 0; /*no margin under the 2nd part of the text*/
}
.about-main-content .main-text .main-text-3 {
    grid-column: span 4; /*3rd part of the main text goes across the whole grid*/
}

.about-main-content .placement-overview-section{
    display: grid; /*placement sections is another seperate grid*/
    grid-template-columns: repeat(4,1fr); /*4 coloumns*/
    grid-template-rows: 1fr; /* 1 row*/
    margin:0; /*margin set to 0*/
    border-radius: 1rem; /*rounded corners of 1rem*/
    gap: 1rem; /*gap between grid elements is 1rem*/
    margin-top: 1.25rem; /*margin at top of placement containers is 1.25rem*/
    margin-bottom: var(--gap-between); /*margin at bottom of placement containers is set to the gap between variable*/
}
.about-main-content .placement-overview-section > * {
    background-color: var(--box-colour); /*/*all placement containers are set to box-colour from the root*/
    margin:0;/*margin set to 0*/
    border-radius: 1rem;/*rounded corners of 1rem*/
    text-align: center; /*text is centered in all containers*/
    box-shadow: var(--shadow-1); /*shadow of the placement containers has a shadow*/
    padding: 1.5rem; /*padding of the placement containers set to 1.5rem*/
}
.about-main-content .placement-overview-section p {
    font-size: var(--regular-text-size); /*placement paragraph text is set to regular size*/
}
.about-main-content .about-section-3{
    display: grid; /*grid display for the final section on the about page*/
    grid-template-columns: repeat(4,1fr); /*4 coloumns*/
    grid-template-rows: 1fr; /* 1 row*/
    gap: var(--gap-within); /*gap between columns set to gap within. Allows user to know these elements are apart of the same content area*/
}

.about-main-content .about-section-3 > *{
    background-color: var(--box-colour); /*background colours of last about section containers set to box colour variable*/
    border-radius: 1rem; /*rounded corners of 1rem*/
    text-align: center; /*text is centered in containers*/
    box-shadow: var(--shadow-1); /*the about containers have a shadow*/
    grid-column: span 2; /*grid elements go across 2 columnns as there is 2 elements, making it go across the whole page */
    padding: 1.5rem; /*padding of the bottom 2 containers set to 1.5rem*/
}

.about-main-content .about-section-3 p{
    font-size: var(--regular-text-size); /*pargraph text set to regular-text-size variable*/
}
.about-main-content .about-section-3 iframe{
    border-radius: 1.5rem; /*rounded corners of 1.5rem*/
    box-shadow: var(--shadow-1); /*shadow of the video has a shadow*/
    width:100%; /*always scales ot take up width of the about-video container */
    aspect-ratio: 16/9; /*ensures aspect ratio remains same*/
}   
.about-section-3 iframe:hover{
    transform: var(--hover-scale-factor); /*the video will get bigger when the mouse hovers over the video to provide feedback to users so they know it is clickable*/
}

/*-----------------------------------CSS for teaching page-------------------------------------------------*/
.teaching-header{
    background-color: var(--box-colour); /*header on teaching page set to the regular box colour*/
    margin-top: 2.5rem; /*margin on top of the header set to 2.5rem so the heading doesn't collide with the nav menu*/
    border-bottom-left-radius: 1rem; /*only want the bottom corners to be rounded*/
    border-bottom-right-radius: 1rem; /*only want the bottom corners to be rounded*/
    margin-bottom: var(--gap-between); /*marign at the bottom set to gap-between to seperate the elements and users can see clear seperation between them*/
    padding-bottom: 1rem; /*create padding at the bottom of the header so the bottom of the text doesn't line up with the bottom of the container */
    box-shadow: var(--shadow-1);/*the header has a shadow*/
}

.teaching-header h1{
    text-align: center; /*heading is in the middle of the container*/
    margin-bottom: 0; /*margin below the text is removed*/
}

.teaching-section-1{
    display: grid; /*create a grid */
    grid-template-columns: 0.5fr 0.5fr; /*grid is 2 columns, both 0.5 fractional units wide*/
    grid-template-rows: 0.5fr 0.5fr; /*grid is 2 rows, 0.5 fractional units wide*/
    border-radius: 1rem; /*rounded corners for the container*/
    column-gap: var(--gap-within); /* gap between columns in the grid */
    row-gap: var(--gap-between); /* gap between rows in the grid */
    margin-top: 1.25rem; /*creates a margin at the top */
    margin-bottom: 1.25rem; /*creates a margin at the bottom */
}
.teaching-section-1 p{
    font-size: var(--regular-text-size); /*pargraph text set to regular-text-size variable*/
    margin-top: 0; /*removes the margin from the top of the paragraph text*/
    padding-top: 1rem; /*adds 1rem of padding to the top of the pargraph text*/
}
.teaching-section-1 h2 {
    margin-bottom: 0; /*margin below h2 elements is set to 0*/
}
.teaching-section-1 .teaching-philosophy{
    background-color: var(--box-colour); /*teaching philosophy section set to the regular box colour*/
    text-align: center; /*text is centered in teaching philosophy container*/
    border-radius: 1.5rem; /*corners are rounded to 1.5rem*/
    padding:1.5rem; /*padding around the teaching philosophy container is set to 1.5rem*/
    box-shadow: var(--shadow-1); /*the teaching philosophy container has a shadow*/
} 
.teaching-section-1 .teaching-philosophy img{
    width:80%; /*width of the image within the teaching philosophy is 80% of the container*/
    border-radius: 1.5rem; /*corners of the image are rounded to 1.5rem*/
    box-shadow: var(--shadow-1); /*the image in the teaching philosophy container has a shadow*/
}
.teaching-section-1 .teaching-core-values{
    background-color: var(--box-colour); /*core values section is set to the regular box colour*/
    text-align: center; /*text within the core values container is centered*/
    border-radius: 1.5rem; /*corners of the core values container are rounded to 1.5rem*/
    box-shadow: var(--shadow-1); /*the core values container has a shadow*/
    padding: 1.5rem; /*padding around the core values container is set to 1.5rem*/
}

.teaching-section-1 .teaching-core-values dl{
    font-size: var(--regular-text-size); /*the description list in the core values container is set to the regular text size defined in the root*/
}

.teaching-section-1 .teaching-core-values dt{
    font-weight: bold; /*the description list items are in bold to contrast the subheadings from the description details*/
}

.teaching-section-1 .teaching-core-values dd{ 
    padding: 1rem;  /* so there is a gap between the value and the description*/
}
.teaching-section-1 .behavioural-management{
    grid-column: span 2; /*behavioural management container spans the entire grid column*/
    background-color: var(--box-colour); /*background colour of behavioural management container is set to the box colour from the root*/
    text-align: center; /*text is aligned in the centre of the behavioural managment container*/
    border-radius: 1.5rem; /*corners in the behavioural management container are rounded to 1.5rem*/
    box-shadow: var(--shadow-1); /*behavioural management container has a shadow*/
    padding: 1rem; /*provides some room between text in behavioural management section and edges of container*/
}
/*----------------------------------CSS for resume page--------------------------------------------------*/
.resume-header{
    margin-top: 2.5rem; /*have a margin at the top of the header container so that it doesn't clash with the nav menu*/

    
}
.resume-section-1{
    display: flex; /*make the first resume section a flexbox object*/
    flex-direction: column; /*the flexbox is arranged in columns*/
}
/*format the heading*/
.resume-header h1{
    background-color: var(--box-colour); /*resume heading has background colour of the box colour from the root. It is here so there isn't another box around the header container itself*/
    text-align: center; /*heading is aligned in the centre of the container*/
    border-bottom-left-radius: 1rem; /*corner of the bottom left of the header container is set to 1rem. It is in the h1 element so theres not another box around the header itself*/
    border-bottom-right-radius: 1rem; /*corner of the bottom right of the header container is set to 1rem*/
    padding-bottom: 1rem; /*padding at the bottom of the heading to give a gap between text and the background*/
    box-shadow: var(--shadow-1); /*heading container has a shadow around it*/
}   
.resume-section-1 a{
    display: inline-block; /*makes the link an inline block so the link is able to be transformed when hovered */
    color:#1D1D1F; /*sets the PDF download link to be black*/
}
.resume-section-1 a:hover{
    font-weight: bold; /*when user hovers over the link, it goes bold so users have feedback to know its clickable*/
    transform: var(--hover-scale-factor); /*the link container gets bigger when users hover over it to provide more feedback so users know it is clickable*/
}

.resume-download{
    margin-bottom: var(--gap-between); /*resume download link container has a top gap between elements to visually represent the seperation of elements*/
    margin-top: var(--gap-between); /*resume download link container has a bottom gap between elements to visually represent the seperation of elements*/
    text-align: center; /*text is centred in the resume download container*/
    font-size: var(--regular-text-size);  /*font-size isn't inherited by the main section as defined at the top of the css so it is explicitly set here*/
}
.resume-download a{
    background-color: var(--box-colour); /*backgorund colour of the download link box is set to the regular background colour from the root*/
    border-radius:1rem; /*corners are rounded to 1rem*/
    box-shadow: var(--shadow-1); /*creates a shadow around the download container*/
    padding:1.5rem; /*padding in the download container is set to 1.5rem so the text has room to breathe*/
}
.resume-container a{
    display:contents; /*ignores the box generated by the <a> tag, so <img> defines the clicabkle area*/
}
.resume-container img{
    background-color: var(--box-colour); /*background colour of resume image is set to the standard box colour from the root*/
    border-radius:1rem; /*corners of the resume image are rounded to 1rem*/
    box-shadow: var(--shadow-1); /*creates a shadow around the image of the resume*/
    width: 50%; /*width of the resume image is 50% of the container*/
    display:block; /*image is a block to give more control over the styling*/
    margin-left: auto; /*automatically calculates the margin of the left side of the image so its centered*/
    margin-right: auto; /*automatically calculates the margin of the right side of the image so its centered*/
} 
.resume-container img:hover{  
    transform: var(--hover-scale-factor); /*image gets bigger when hovered over to provide feedback to the user so they know it is clickable*/
}
figcaption{
    text-align: center; /*the figcaption text is centred*/
    margin-top: 1rem; /*there is a margin at the top of the figcaption so isnt touching the resume image*/
}
/*-------------------------------------- CSS for contacts page----------------------------------------------*/

.contact-header{
    background-color: var(--box-colour); /*contact header backgorund is set to the box colour from the root*/
    margin-top: 2.5rem; /*margin on top of the contact header is 2.5rem so it doesn't overlap with the nav menu*/
    border-bottom-left-radius: 1rem; /*only want the bottom corners to be rounded*/
    border-bottom-right-radius: 1rem; /*only want the bottom corners to be rounded*/
    padding-bottom: 1rem; /*padding at the bottom of the container so the heading text isnt on the bottom of the container*/
    box-shadow: var(--shadow-1); /*creates a shadow around the contact header*/
    margin-bottom: var(--gap-between); /*bottom margin is set to gap between so users can visually see the different sections*/
}
.contact-header h1{
    text-align: center; /*heading is centred in the contact header box*/
    margin-bottom: 0; /*margin below heading text is set to 0 so there isn't too large a gap between heading text and bottom of container*/
}
.contacts-section-1{
    display: grid; /*create a grid */
    grid-template-columns: 0.3333fr 0.3333fr 0.3333fr; /*grid is 3 columns, all 0.33 fractional units wide*/
    grid-template-rows: 0.3333fr 0.3333fr 0.3333fr; /*grid is 3 rows, 0.33 fractional unit wide*/
    border-radius: 1rem; /*rounded corners for the container*/
    column-gap: var(--gap-within); /* gap between columns in the grid */
    row-gap: var(--gap-within); /* gap between rows in the grid. Used 'gap-within' here as they are related elements, and wanted them to appear so */
    margin-top: 1.25rem; /*creates a margin at the top */
    margin-bottom: 1.25rem; /*creates a margin at the bottom */  
}
.contacts-section-1 .contact-general-message{
    grid-column: span 3; /*message at the top of the contact page goes across the whole grid width*/
    grid-row: span 2; /*message at the top of the contact page goes across 2 rows in the gris*/
    background-color: var(--box-colour); /*background colour of the general message is set to the box colour from the root*/
    text-align: center; /*text is centered in the container*/
    border-radius: 1.5rem; /*corners are rounded to 1.5rem*/
    box-shadow: var(--shadow-1); /*sets a shadow around the general message container*/
    place-content: center; /*the text is centered horizontally*/
}

.contacts-section-1 p{
    font-size:var(--regular-text-size); /*font in the first content seciton is set to the regular text size from the root*/
    padding: 1.5rem; /*sets padding around the text so there is a gap between the sides of the text and the container*/
}
.contacts-section-1 .contact-form{
    grid-column: span 2; /*contact form goes across 2 grid columns to allow for a section next to it*/
    background-color: var(--box-colour); /*background colour of the contact form is set to the box colour from the root*/
    text-align: center; /*contact form text is centered*/
    border-radius: 1.5rem; /*contact form container has rounded corners set to 1.5rem*/
    box-shadow: var(--shadow-1); /*sets a shadow around the contact form container*/
}

.contact-form h3 {
    text-align: left; /*the subheadings in the contact form are set to the left of the container so users can better distinguish the different sections*/
    margin-left: 1.5rem; /*so the subheadings are not on the edge of the contact form container*/
}

.radio-buttons{
    display:flex; /*radio buttons are set to a flexbox so they go across the page horizontally*/
    gap: 0.5rem; /*gap between radio buttons are 0.5rem so they don't appear to close together*/
    justify-content: center; /*radio buttons are centered in the contact container*/
}

label{
    display: block; /*labels are set to be a block for layout purposes*/
    padding: 0.5rem; /*padding set to 0.5rem to have gaps between the detail instructions and the input fields*/
}


input[type=text], select{
    width:90%;  /*name input field is 90% width of the contact container*/
    background-color: var(--the-background-color); /*input fields set to white background colour */
    border: none; /*no border around the name input field*/
    border-radius: 1rem; /*name input fields corners rounded to 1rem*/
    padding: 1rem; /*padding in the name input field so that it isn't too skinny*/
    font-family: var(--main-font); /*font of the input field placeholder text is set to the main font*/
    box-shadow: var(--shadow-1); /*name input field container has a shadow behind it*/
}
input[type=email]{
    width:90%; /*email input field is 90% of the container*/
    background-color: var(--the-background-color);  /*email background colour is set to the white background colour set in the root*/
    border: none; /*so there is no border around the email input*/
    border-radius: 1rem; /*email corners rounded to 1rem*/
    padding: 1rem; /*padding in the email input field so that it isn't too skinny*/
    font-family: var(--main-font); /*email field placeholder text is set to the main font*/
    box-shadow: var(--shadow-1); /*email input field container has a shadow behind it*/
}

input[type=text]:hover, input[type=email]:hover, textarea:hover{
    background-color: #f0f8ff; /*when hovering over input fields it changes colour to give the user feedback*/
    outline: none; /* so there is no outline when a contact field is clicked*/
    transform: var(--hover-scale-factor);
}
input[type=text]:focus, input[type=email]:focus, textarea:focus{
    outline: none; /*so there is no outline when input field is clicked and cursor is not hovering over it*/
    background-color: #f0f8ff; /*keeps background colour when input field has been clicked and cursor is not hovering over it*/
}

textarea {
    width:90%; /*message area is 90% of the container */
    height:10rem; /*height of the message area is 10rem*/
    background-color: var(--the-background-color); /*message background is set to the white background colour set in the root*/
    border: none; /*no border around the message box*/
    border-radius: 1rem; /*message corners rounded to 1rem*/
    padding: 1rem;  /*padding in the message input field so that it isn't too skinny*/
    font-family: var(--main-font); /*message field placeholder text is set to the main font*/
    box-shadow: var(--shadow-1); /*message input field container has a shadow behind it*/
}
button{
    display:block; /*submit button set to a block so it can be styled easily*/
    margin:1rem auto; /* 1rem sets the top and bottom margin to 1, the auto automatically caluclates equal left and right margins*/
    padding: 1.5rem; /*padding around submit button set to 1.5rem so it isn't too small*/
    border-radius: 1rem; /*submit button corners rounded to 1rem**/
    box-shadow: var(--shadow-1); /*submit button has a shadow behind it*/
    background-color: var(--the-background-color); /*submit button is set to the white background colour set in the root*/
    font-family: var(--main-font); /*submit button text is set to the main font*/
    border: none; /*so there is no border around the submit button*/
}
button:hover{
    background-color: #f0f8ff; /*when hovering over button it changes colour to give the user feedback*/
    transform: var(--hover-scale-factor); /*the button*/
}
fieldset{
    border: none; /*so there is no border around the contact form*/
}
.contact-container-socials{
    grid-column: span 1; /*social media link container set to span 1 grid column*/
    background-color: var(--box-colour); /*social media link container is set to the background colour in the root*/
    text-align: center; /*heading text set to be centered in the social media container*/
    border-radius: 1.5rem; /*social media link container has rounded corners set to 1.5rem*/
    box-shadow: var(--shadow-1); /*social media link container has a shadow behind it*/
}
.contact-container-socials img{
    width: 10rem; /*image width in the contact container are set to 10rem*/
    height:10rem; /*image heigh in the contact container are set to 10rem*/
}
.contact-container-socials img:hover{
    transform: scale(1.2); /*didnt use the variable hover-scale-factor here because I want the images to be bigger when hovered over*/
}

/*-------------------------------------- CSS for resources page----------------------------------------------*/
        
/*format the resources container*/
.resources-header{
    background-color: var(--box-colour); /*background colour of the resources header is set to the box colour from the root*/
    margin-top: 2.5rem; /*margin on top of the header set to 2.5rem so the heading doesn't collide with the nav menu*/
    border-bottom-left-radius: 1rem; /*only want the bottom corners to be rounded*/
    border-bottom-right-radius: 1rem; /*only want the bottom corners to be rounded*/
    padding-bottom: 1rem; /*padding at the bottom of the container so the heading text isnt on the bottom of the container*/
    box-shadow: var(--shadow-1); /*resource header has a shadow behind it*/
    margin-bottom: var(--gap-between); /*bottom margin is set to gap between so users can visually see the different sections*/
}
.resources-header h1{
    text-align: center; /*resource heading is centered in the resource container*/
    margin-bottom: 0; /*no margin at the bottom of the heading so there isn't a big gap between the bottom of the container and heading*/
}
.resource-subheader {
    display: grid; /*create a grid for the resource information*/
    grid-template-columns: repeat(3,0.33333fr); /*3 columns, 0.1 fr wide */
    margin-bottom: var(--gap-within); /*margin below resource information is set to gap within to create visual seperation*/
}
.resource-subheader p{
    background-color: var(--box-colour); /*background colour of the resource information is set to the box colour in the root*/
    border-radius:1rem; /*corners of resource information are by setting border radius to 1rem*/
    box-shadow: var(--shadow-1); /*shadow created around the resource information container*/
    padding:1.5rem; /*padding around the text so there is a gap between the box and the text*/
    grid-column-start: 2; /*this container starts at the 2nd column so it is centered*/
    font-size: var(--regular-text-size); /*the text size is the regular text size from the root*/
}
.card-grid{
    display:grid; /*resource cards are displayed in a grid*/
    grid-template-columns: repeat(4,0.25fr); /*10 columns, 0.1 fr wide */
    grid-template-rows: repeat(4,0.25fr); /*4 rows, 0.25fr wide*/
    column-gap: var(--gap-within); /*columns between grid are set to gap within to give visual seperation but so it still appears to be apart of the same section*/
}
.card{
    background-color: var(--box-colour); /*card backgrounds are set to the box colour*/
    border-radius:1rem; /*card corners are rounded to 1rem*/
    box-shadow: var(--shadow-1); /*cards have a shadow set to the variable from the root*/
    padding:1.5rem; /*padding around the cards so the elements within have a gap from the sides*/
    grid-row: span 4; /*cards span across 4 rows*/
    grid-column: span 2; /*cards go across 2 rows*/
    margin-bottom: var(--gap-within); /*margin below the cards is set to gap within so there is visual seperation but it still appears to be apart of the same section*/
}
.card img{
    display: block; /* to allow the images to be center of container*/
    margin: 0 auto; /*top and bottom margins are 0, left and right margins are divided equally to both sides*/
    max-width: 100%; /*max width of the image is the width of the image container*/
    max-height: 50%; /*max height is 50% of the image container*/
    border-radius: 1rem; /*images are rounded to 1rem*/
    box-shadow: var(--shadow-1); /*images have a shadow*/
}
.card-content{ 
    text-align: center; /*text within the cards are centered*/
}
.card-content p{
    font-size: var(--regular-text-size); /*text in the cards are set to the regular text size from the root*/
}
.card img:hover{
    transform: var(--hover-scale-factor); /*when hovering over the resources images, they get bigger to give users the feedack that they're clickable*/
}