/*---------------------------------CSS for all pages---------------------------------------------------*/

@font-face {
    font-family: 'Montserrat';
    src: url(https://fonts.google.com/specimen/Montserrat);
    }


:root{
    --box-colour: #F0F0F0; /*colour of the containers for info to go in*/
    --main-font: Montserrat; /*main font used for text*/
    --main-font-colour: #1D1D1F; 
    --heading-colour: #196f72; 
    --regular-text-size: larger;    /*the size for content text in a paragraph */
    --shadow-1: 0.3rem 0.3rem 0.625rem rgba(0,0,0,0.2); /*trial and error to find these rem values*/;
    --gap-between: 5rem; /*the gap between different sections so users know it is seperate to other sections*/
    --gap-within: 3rem; /*gap within sections to make the content more comfortable for users. Page is more scannable*/
    --the-background-color: #FAFAFA; /*background colour is a off-white to reduce eye strain, make the pages feel more inviting, and contrast well with the containers*/
    --hover-scale-factor: scale(1.02); /* makes the size of the element 2% bigger when the cursor is hovering over it*/
}
body > main,header{
    font-family: var(--main-font); /*ensures all text is the main font*/
    margin: 0px; /*removes margins in the header and body*/
    color: var(--main-font-colour);
    margin-left: 10rem; /*ensures there is a margin on left side of every page*/
    margin-right: 10rem; /*ensures there is a margin on right side of every page*/
}
body{
    margin-bottom: 0; /*so the footer doesn't have a gap underneath*/
    margin-left: 0; /*so the footer doesn't have a gap to the left*/
    margin-right: 0; /*so the footer doesn't have a gap to the right*/
    background-color: var(--the-background-color); /*background is an off-white for a subtle contrast with the containers without being too harsh*/
}
body h1,h2,h3,h4,h5,h6 {
    color: var(--heading-colour); /*all headings will have the same colour*/
}
.menu-background{
    background-color: rgba(255, 255, 255, 0.6); /* full white, with 0.6 opacity*/
    backdrop-filter: blur(15px); /*add a blur effect so when words go behind the layer, they don't interfere with the nav bar*/
    top:0; /*so there is no gap above the navigation menu*/
    padding:20px; /*layer of padding around the nav menu*/
    position: fixed; /*allows the menu background to stay at top of page regardless of scrolling*/
    width: 100%; /*background stretches across whole page*/
}

.nav-list{
    position: fixed; /*So the navigation list is at the top of the page, and stays in place when scrolling*/
    display: flex; /*so it goes across the page*/
    justify-content:center;
    list-style-type: none; /*so list doesn't have bullets*/
    gap: 3.125rem; /*used online converter from 50 px to have gap be relative*/
    flex-grow: 1; /*space between heading links is evenly distributed*/
    font-size: small; /*makes the font smaller*/
    white-space: nowrap; /* so text doesn't go to new line when browser size changes*/
    overflow: hidden; /*cuts off any parts that overflow in navigation list*/
    top:0; /* nav-list is at the top of the cointainer*/
    width:100vw; /*so it is the full viewport width*/
    padding-left: 0; /*no padding on the left side of the nav-list*/
    font-family: var(--main-font); /*uses the main font for the nav-list*/
}
/* nav menu text is now black, and has an underline when hovered over by mouse (using hover pseudoclass)*/
.nav-list a{
    text-decoration: none; 
    color: var(--main-font-colour);
}
.nav-list a:hover{
    text-decoration:underline; /* when hovering over the links on the nav, an underline will appear*/
}
.active{ /*the page currently on will be bold in the nav bar */
    font-weight: bold; 
}
/*footer section taken from starter.css*/
footer {
    margin-top: 40px; /* Space above footer */
    padding: 22px 0; /* Vertical spacing */
    background: var(--box-colour); 
}
footer p {
    color: var(--main-font-colour); /*main body font colour*/
    font-family: var(--main-font); /*uses main font from root*/
    text-align: center; /*puts footer text in center*/
}
footer .footer-container {
    width: min(100% - 2*var(--spacing), var(--maxw)); /* Responsive width */
    margin: 0 auto; /*top and bottom margins are 0, left and right margins are divided equally to both sides*/
    display: flex; /* Flex layout */
    justify-content: space-between; /* Space between items */
    gap: var(--spacing); /* Gap between items */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}
@media (max-width: 640px) { /* for mobile viewing*/
    .menu-background { flex-wrap: wrap; }
    .nav-list { width: 100%; justify-content: center; }
    /*small test case of responsive design on mobile*/
    .index-main-content > *{
        display: block;
    }
    body > main,header{
        margin-left: 1rem; /*margin on left of page is 1rem (mobile)*/
        margin-right: 1rem; /*margin on right of page is 1rem (mobile)*/
    }
}

/*-------------------------------CSS for index page-----------------------------------------------------*/
.index-header{
    border-bottom-left-radius: 1rem; /* bottom left corner is rounded*/
    border-bottom-right-radius: 1rem; /* bottom left corner is rounded*/
    background-color: var(--box-colour); /* container for header section is slightly off white */
    box-shadow: var(--shadow-1); /*will have a shadow around the header box*/
    margin-bottom: var(--gap-between); /*ensures there is a gap between the header and the container below*/
    margin-top: 2.5rem; /*creates a margin at the top so the heading doesn't overlap with the nav bar*/
}
.index-header h1{
    text-align: center; /*aligns heading in the centre of about page*/
}

.index-header img{
    display:block; /*image set as a block to force new line before and after image*/
    margin-left: auto; /*left-side margin is automatically calculated*/
    margin-right: auto; /*right-side margin is automatically calculated*/
    padding-bottom: 0.5rem; /*bottom of the img has padding*/
    padding-top: 0; /*no padding on the top of the image*/
    width:15rem; /*width of image is hard-coded to 15rem*/
}

.index-main-content h2{
    text-align: center; /*any h2 element is centered*/

}

.index-main-content {
    display: grid; /*create a grid */
    grid-template-columns: 0.5fr 0.5fr; /*grid is 2 columns, both 0.5 fractional units wide*/
    grid-template-rows: 1fr 1fr; /*grid is 1 row, 1 fractional unit wide*/
    border-radius: 1rem; /*rounded corners for the container*/
    column-gap: var(--gap-within); /* gap between columns in the grid */
    row-gap: var(--gap-between); /* gap between rows in the grid */
    margin-top: 1.25rem; /*creates a margin at the top */
    margin-bottom: 1.25rem; /*creates a margin at the bottom */
}
.index-main-content > *{
    background-color: var(--box-colour); /*all content containers are set to box-colour from the root*/
    padding: 1.5rem; /*padding around the content elements set to 1.5rem*/
    margin:0; /*margin of content containers are 0*/
    border-radius: 1rem; /*the containers have rounded corners, with radius of 1rem*/
    box-shadow: var(--shadow-1); /*creates a shadow behind the content containers*/
}

.index-main-content ul, ol {
    list-style-type:disc; /*so list doesn't have bullets*/
    font-size: var(--regular-text-size); /*lists are set to the regular text size from the root*/
}

.index-main-content li{
    margin-bottom: 2rem; /*list elements have a bottom margin of 2rem*/
}

.index-main-content .index-section-3{
    grid-column: span 2; /*content spans across 2 columns in the grid*/
    background: none; /*no background box in the section*/
    padding: 0; /*content takes up the whole container*/
    height:25rem; /*height of the container is set to a max of 25rem*/
}
/*this image was generated from canva magic media*/
.index-main-content .index-section-3 img{ 
    width: 100%; /*image takes up width of the whole container*/
    height: 100%; /*image takes up height of the whole container*/
    border-radius: 1.25rem; /*rounded corners of 1.25rem*/
    box-shadow: var(--shadow-1); /*creates shadow behind the image*/
    object-fit: cover; /*so it doesn't strecth and distort*/
    object-position: bottom center; /*part of the image we see*/
}

/*-----------------------------------CSS for about page-------------------------------------------------*/
/*format the header container*/
.about-header{
    background-color: var(--box-colour);
    margin-top: 2.5rem;
    padding: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: var(--shadow-1);
}
/*format the heading*/
.about-header h1{
    text-align: center;
    margin-bottom: 0;
}

/*the placement overview title*/
.about-main-content h2{
    text-align: center;
    padding: 1.25rem;
    grid-column: span 4;
}

/*position the banner box*/
.about-header .banner-graphic-box{
    display: flex;
    padding:0;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    min-height: 48rem;
    border-radius: 5rem;
    margin-bottom: var(--gap-between);
}
/*format the banner image*/
.about-header .banner-graphic-box img{
    border-radius: 5rem;
    height:auto;
    width:auto;
    max-width: 80%;
    max-height: 80%;
    box-shadow: var(--shadow-1);
}

.about-main-content .main-text{
    display: grid;
    grid-template-columns: repeat(4,1fr); /*4 coloumns*/
    grid-template-rows: 0.5fr 1fr; /* 2 row*/
    text-align: left;
    font-size: var(--regular-text-size);
    gap: 1.25rem;
}

/*applies the boxes to all tags in the main-text class*/
.about-main-content .main-text > *{
    background-color: var(--box-colour);
    padding: 1.5rem;
    margin:0;
    border-radius: 1rem;
    box-shadow: var(--shadow-1);
    margin-bottom: var(--gap-between);
    text-align: center;
}
.about-main-content .main-text a{
    display:inline-block;
    color: var(--main-font-colour);
    text-decoration:underline;
}
.about-main-content .main-text a:hover{
    font-weight: bold;
    transform: var(--hover-scale-factor);
}

.about-main-content .main-text .main-text-1 {
    grid-column: span 2;
    margin-bottom: 0;
}

.about-main-content .main-text .main-text-2 {
    grid-column: span 2;
    margin-bottom: 0;
}
.about-main-content .main-text .main-text-3 {
    grid-column: span 4;
}

.about-main-content .placement-overview-section{
    display: grid;
    grid-template-columns: repeat(4,1fr); /*4 coloumns*/
    grid-template-rows: 1fr; /* 1 row*/
    margin:0;
    border-radius: 1rem;
    gap: 1rem;
    margin-top: 1.25rem;
    margin-bottom: var(--gap-between);
}
.about-main-content .placement-overview-section > * {
    background-color: var(--box-colour);
    margin:0;
    border-radius: 1rem;
    text-align: center;
    text-overflow: wrap;
    box-shadow: var(--shadow-1);
    padding: 1.5rem;
}
.about-main-content .placement-overview-section p {
    font-size: var(--regular-text-size);
}
.about-main-content .about-section-3{
    display: grid;
    grid-template-columns: repeat(4,1fr); /*4 coloumns*/
    grid-template-rows: 1fr; /* 1 row*/
    text-align: left;
    gap: var(--gap-within);
}

.about-main-content .about-section-3 > *{
    background-color: var(--box-colour);
    border-radius: 1rem;
    text-align: center;
    text-overflow: wrap;
    box-shadow: var(--shadow-1);
    grid-column: span 2;
    padding: 1.5rem;
}

.about-main-content .about-section-3 p{
    font-size: var(--regular-text-size);
}
.about-main-content .about-section-3 iframe{
    border-radius: 1.5rem;
    box-shadow: var(--shadow-1);
    width:100%; /*always scales ot take up width of the about-video container */
    aspect-ratio: 16/9; /*ensures aspect ratio remains same*/
}   
.about-section-3 iframe:hover{
    transform: var(--hover-scale-factor);
}

/*-----------------------------------CSS for teaching page-------------------------------------------------*/
.teaching-header{
    background-color: var(--box-colour);
    margin-top: 2.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: var(--gap-between);
    padding-bottom: 1rem;
    box-shadow: var(--shadow-1);
}

.teaching-header h1{
    text-align: center;
    margin-bottom: 0;
}

.teaching-section-1{
    display: grid; /*create a grid */
    grid-template-columns: 0.5fr 0.5fr; /*grid is 2 columns, both 0.5 fractional units wide*/
    grid-template-rows: 0.5fr 0.5fr; /*grid is 2 rows, 0.5 fractional units wide*/
    border-radius: 1rem; /*rounded corners for the container*/
    column-gap: var(--gap-within); /* gap between columns in the grid */
    row-gap: var(--gap-between); /* gap between rows in the grid */
    margin-top: 1.25rem; /*creates a margin at the top */
    margin-bottom: 1.25rem; /*creates a margin at the bottom */
}
.teaching-section-1 p{
    font-size: var(--regular-text-size);
    margin-top: 0;
    padding-top: 1rem;
}
.teaching-section-1 h2 {
    margin-bottom: 0;
}
.teaching-section-1 .teaching-philosophy{
    background-color: var(--box-colour);
    text-align: center;
    border-radius: 1.5rem;
    padding:1.5rem;
    box-shadow: var(--shadow-1);
}
.teaching-section-1 .teaching-philosophy img{
    width:80%;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-1);
}
.teaching-section-1 .teaching-core-values{
    background-color: var(--box-colour);
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-1);
    padding: 1.5rem;
}

.teaching-section-1 .teaching-core-values dl{
    font-size: var(--regular-text-size);
}
/* lets the value stand out*/
.teaching-section-1 .teaching-core-values dt{
    font-weight: bold;
}
/* so there is a gap between the value and the description*/
.teaching-section-1 .teaching-core-values dd{ 
    padding: 1rem; 
}
.teaching-section-1 .behavioural-management{
    grid-column: span 2;
    background-color: var(--box-colour);
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-1);
    padding: 1.5rem;
}
/*----------------------------------CSS for resume page--------------------------------------------------*/
.resume-header{
    margin-top: 2.5rem;

}
/*format the heading*/
.resume-header h1{
    background-color: var(--box-colour);
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    box-shadow: var(--shadow-1);
}   
.resume-section-1 a{
    display: inline-block;
    color:#1D1D1F;
}
.resume-section-1 a:hover{
    text-decoration: underline;
    font-weight: bold;
    transform: var(--hover-scale-factor);
}
.resume-section-1{
    display: flex;
    flex-direction: column;
}
.resume-download{
    margin-bottom: var(--gap-between);
    margin-top: var(--gap-between);
    text-align: center;
    font-size: var(--regular-text-size);  /*unsure why the font-size isn't inherited by the main section as defined at the top of the css*/
}
.resume-download a{
    background-color: var(--box-colour);
    border-radius:1rem;
    box-shadow: var(--shadow-1);
    padding:1.5rem;
}
.resume-container a{
    display:contents; /*ignores the box generated by the <a> tag, so <img> defines the clicabkle area*/
}
.resume-container img{
    background-color: var(--box-colour);
    border-radius:1rem;
    box-shadow: var(--shadow-1);
    border-radius: 1.5rem;
    width: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
} 
.resume-container img:hover{  
    transform: var(--hover-scale-factor);
}
figcaption{
    text-align: center;
    margin-top: 1rem;
}
/*-------------------------------------- CSS for contacts page----------------------------------------------*/

.contact-header{
    background-color: var(--box-colour);
    margin-top: 2.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--shadow-1);
    margin-bottom: var(--gap-between);
}
.contact-header h1{
    text-align: center;
    margin-bottom: 0;
}
.contacts-section-1 .contact-general-message{
    grid-column: span 3;
    grid-row: span 2;
    background-color: var(--box-colour);
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-1);
    place-content: center;
}
.contacts-section-1{
    display: grid; /*create a grid */
    grid-template-columns: 0.3333fr 0.3333fr 0.3333fr; /*grid is 3 columns, all 0.33 fractional units wide*/
    grid-template-rows: 0.3333fr 0.3333fr 0.3333fr; /*grid is 3 rows, 0.33 fractional unit wide*/
    border-radius: 1rem; /*rounded corners for the container*/
    column-gap: var(--gap-within); /* gap between columns in the grid */
    row-gap: var(--gap-within); /* gap between rows in the grid. Used 'gap-within' here as they are related elements, and wanted them to appear so */
    margin-top: 1.25rem; /*creates a margin at the top */
    margin-bottom: 1.25rem; /*creates a margin at the bottom */  
}
.contacts-section-1 p{
    font-size:var(--regular-text-size);
    padding: 1.5rem;
}
.contacts-section-1 .contact-form{
    grid-column: span 2;
    background-color: var(--box-colour);
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-1);
}

.contact-form h3 {
    text-align: left;
    margin-left: 1.5rem;
}

label{
    display: block;
    padding: 0.5rem;
}
.radio-buttons{
    display:flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

input[type=text], select{
    width:90%;
    background-color: var(--the-background-color);   
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-family: var(--main-font);
    box-shadow: var(--shadow-1);
}
input[type=email]{
    width:90%;
    background-color: var(--the-background-color);   
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-family: var(--main-font);
    box-shadow: var(--shadow-1);
}

input[type=text]:hover, input[type=email]:hover, textarea:hover{
    background-color: #f0f8ff;
    outline: none; /* so there is no outline when a contact field is clicked*/
    transform: var(--hover-scale-factor);
}
input[type=text]:focus, input[type=email]:focus, textarea:focus{
    outline: none; /*so there is no outline when input field is clicked and cursor is not hovering over it*/
    background-color: #f0f8ff; /*keeps background colour when input field has been clicked and cursor is not hovering over it*/
}

textarea {
    width:90%;
    height:10rem;
    background-color: var(--the-background-color);   
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    resize:none;
    font-family: var(--main-font);
    box-shadow: var(--shadow-1);
}
button{
    display:block;
    margin:1rem auto; /* 1rem sets the top and bottom margin to 1, the auto automatically caluclates equal left and right margins*/
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-1);
    background-color: var(--the-background-color);
    font-family: var(--main-font);
    border: none;
}
button:hover{
    background-color: #f0f8ff;
}
fieldset{
    border: none;
}
.contact-container-socials{
    grid-column: span 1;
    background-color: var(--box-colour);
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-1);
}
.contact-container-socials img{
    width: 10rem;
    height:10rem;
}
.contact-container-socials img:hover{
    transform: scale(1.2); /*didnt use the variable hover-scale-factor here because I want the images to be bigger when hovered over*/
}

/*-------------------------------------- CSS for resources page----------------------------------------------*/
        
/*format the resources container*/
.resources-header{
    background-color: var(--box-colour);
    margin-top: 2.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--shadow-1);
    margin-bottom: var(--gap-between);
}
.resources-header h1{
    text-align: center;
    margin-bottom: 0;
}
.resource-subheader {
    display: grid;
    grid-template-columns: repeat(3,0.33333fr); /*3 columns, 0.1 fr wide */
    grid-template-rows: 1 1fr;
    margin-bottom: var(--gap-within);
}
.resource-subheader p{
    background-color: var(--box-colour);
    border-radius:1rem;
    box-shadow: var(--shadow-1);
    padding:1.5rem;
    grid-column-start: 2;
    font-size: var(--regular-text-size);
}
.card-grid{
    display:grid;
    grid-template-columns: repeat(4,0.25fr); /*10 columns, 0.1 fr wide */
    grid-template-rows: repeat(4,0.25fr); /*4 rows, 0.25fr wide*/
    column-gap: var(--gap-within);
}
.card{
    background-color: var(--box-colour);
    border-radius:1rem;
    box-shadow: var(--shadow-1);
    padding:1.5rem;
    grid-row: span 4;
    grid-column: span 2;
    margin-bottom: var(--gap-within);
}
.card img{
    display: block; /* to allow the images to be center of container*/
    margin: 0 auto; /*top and bottom margins are 0, left and right margins are divided equally to both sides*/
    max-width: 100%;
    max-height: 50%;
    border-radius: 1rem;
    box-shadow: var(--shadow-1);
}
.card-content{
    text-align: center;
}
.card-content p{
    font-size: var(--regular-text-size);
}
.card img:hover{
    transform: var(--hover-scale-factor); 
}
